<!DOCTYPE html>
<html>
  <head>
    <title>BestBuy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  </head>

  <body>
    <h1 id="title">BEST BUY SCRAPER</h1>
    <%= yield %>
  </body>
</html>
